* {
  padding: 0%;
  margin: 0;
}
#wrapper {
  padding: 10% 20%;
  background-color: aqua;
}
.main {
  background-color: red;
  align-items: center;
  padding: 5% 10%;
  justify-content: space-around;
  display: block;
}
.main label {
  font-size: 25px;
  display: block;
  margin-bottom: 10px;
}
input[type="number"] {
  font-size: 20px;
  padding: 1% 3%;
  text-align: center;
}
input[type="submit"] {
  font-size: 20px;
  padding: 1% 3%;
  text-align: center;
  color: black;
  justify-content: space-around;
  cursor: pointer;
}
#output {
  font-size: 1.5rem;
}
